doctype html5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title MiX Sound Detector
		link(type='text/fonts', rel='stylesheet', src="/vendor/Roboto")
		link(rel='stylesheet', href="/stylesheets/style.css")


	body
		.title MiX Sound Detector
		.menu
		.maincontent



		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/vendor/jquery.min.js')
		script(type='text/javascript', src='/vendor/jquery.tmpl.min.js')

		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js')

		script(type='text/javascript', src='/javascripts/index.js')

		script#channelmenuitem-tmpl(type="text/x-jquery-tmpl")
			.name ${name}
			.soundstate

		script#channelview-tmpl(type="text/x-jquery-tmpl")
			.name ${name}
			br
			button.activatesoundgraph Activate Sound Graph
			button.deactivatesoundgraph Deactivate Sound Graph
			br
			br
			.soundgraph
				canvas
			.settings
				label Silence threshold:
				br
				input.silenceThreshold(type='number', value='${silenceThreshold}')
				br
				br
				label Sound threshold:
				br
				input.soundThreshold(type='number', value='${soundThreshold}')
				br
				br
				label Number of consecutive silence samples before flipping to silence (1 sample = 50ms):
				br
				input.nrOfConsecutiveSilenceSamplesBeforeFlippingToSilence(type='number', value='${nrOfConsecutiveSilenceSamplesBeforeFlippingToSilence}')
				br
				br
				label Number of consecutive sound samples before flipping to sound (1 sample = 50ms):
				br
				input.nrOfConsecutiveSoundSamplesBeforeFlippingToSound(type='number', value='${nrOfConsecutiveSoundSamplesBeforeFlippingToSound}')
				br
				br
				br


